
*{
    padding:0px;
    border:0px;
}
body{
    background-color: black;
    position:relative;
    width: 100%;
    margin:0px 0px;
    padding:0px 0px;
    border:0px 0px;
    overflow-x: hidden;

}
p{
    color:white;
    position: relative;
    top:120px;
    font-size:20px;
    font-family:arial;
    text-align: center;
}
.p{
    text-align:center;
    font-size:32px;
    color:white;
    border-top:40px solid white;
    border-bottom:40px solid white;
    text-shadow:2px 2px blue;
    position:relative;
    bottom:10px;
}
img.rt{
    background-image:url(https://png.pngtree.com/thumb_back/fw800/background/20190826/pngtree-dark-abstract-background-with-overlap-layers-image_305024.jpg);
    background-repeat:no-repeat;
    position: absolute;
    width: 100%;
    height: 500px;
    background-size: cover;
    border-top:2px solid royalblue;
    border-bottom:2px solid royalblue;
    border-left:2px solid royalblue;
    border-right:2px solid royalblue;


}
h1{
    text-align:center;
    color:white;
    position:relative;
    top:150px;
    right:200px;
    font-family:arial;
}
header.pt{
    position:relative;
    text-align: justify;
    color:white;
    left:400px;
}
h2.posts{
    top:170px;
    color:white;;
    left:275px;
    position:relative;
}
img.gs{
        max-height: 100%;
        height: 280px;
        max-width: 100%;
        width: 260px;
        position:relative;
        top:280px;
        border-radius: 50%;
        
}
ul{
    color:white;
    font-size:22px;
    font-family:fantasy;
    list-style-type: none;
    padding:0px;
    left:6px;
    padding-top:200px;
    text-align: center;
    text-shadow:1px 1px white ;
}
.listaContatos li a{
    color:red;
    margin:auto;
    padding:auto;
}
marquee{
    color:white;
    text-shadow:1px 1px mediumaquamarine;
    font-size:18px;
    font-family:arial;
}
#subt ,.posts ,.post_title {

    color:royalblue;
}
.post_title{
    font-size:16px;
    font-family:Arial;
    font-style: italic;
}